<html>
    <head>
        <title>Testimonial</title>
        <link rel="stylesheet" href="./css/testimonial.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    </head>
    <body>
        <nav>
            <div class="nav-left">
                <ul>
                    <li>
                        <img src="/images/logo.png" alt="logo" />
                    </li>
                    <li class ="item-collapse">
                        <a href="/index1">Home</a>
                    </li>
                    <li class="item-collapse">
                        <a href="/blog1">My Project</a>
                    </li>
                    <li class="item-collapse">
                        <a href="/testimonial" class="active">Testimonial</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right item-collapse">
                <a href="/contact1">Contact Me</a>
            </div>
            <div class="nav-right" id="barsmenu">
             <button style="background-color: transparent; border:none;cursor:pointer;" 
                     onclick="openHamburger()">
                <i class="fa-2x fa-solid fa-bars"></i>
             </button>   
            </div>
        </nav>

        <div class="hamburger-nav-container" id="hamburger-nav-container">
            <a href ="/index1" >Home</a>
            <a href="/addblog">My Project</a>
            <a href="/contact1">Contact Me</a>
            <a href="/testimonial" class="hamburger-active">Testimonial</a>
        </div>
        <div class="container">
            <h1>My Testimonial</h1>
            <div class="container-rating">
              <h2>Rating By Star</h2>
              <div class="rating">
                <button class="rating-btn" onclick="allTestimonial()">All</button>
                <button class="rating-btn" onclick="filterTestimonial(1)">
                  1 <i class="fa-solid fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonial(2)">
                  2<i class="fa-solid fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonial(3)">
                  3 <i class="fa-solid fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonial(4)">
                  4 <i class="fa-solid fa-star"></i>
                </button>
                <button class="rating-btn" onclick="filterTestimonial(5)">
                  5 <i class="fa-solid fa-star"></i>
                </button>
              </div>
            </div>
            <section class="testimonials" id="testimonials">
            </section>
        </div>
    <script src="./js/testi-ajax.js"></script>
    <script src="js/index.js"></script>
    </body>
</html>